<section class="history">
  <div class="row">
    <div class="columns large-10 small-9">
      <h2>History</h2>
    </div>

    <nav class="columns large-2 small-3 text-right">
      <a href="#/today">Today</a>
    </nav>
  </div>

  <div data-ng-repeat="(date, completed) in entries" class="row">
    <div class="large-12 small-12 columns">
      <h3 class="sticky">{{ date|formatDate }}</h3>
    </div>
    <ul class="small-block-grid-2 large-block-grid-4 completed-pomodori">
      <li class="text-center" data-ng-repeat="pomodori in completed" tabindex="0" data-ng-click="showDetails()">
        <span class="pom" role="presentation"></span>
        <span class="finished">
          <span class="visuallyhidden">Time interval:</span>
          {{ pomodori.finished|timeInterval:pomodori.duration|padSeconds|formatTime:hourFormat }}
          -
          {{ pomodori.finished|padSeconds|formatTime:hourFormat }}
        </span>
        <span class="notes">
          <span class="visuallyhidden">Notes:</span>
          {{ pomodori.notes|truncate }}
        </span>
      </li>
    </ul>
  </div>
</section>

<div data-ng-include="'partials/pomodoriDetails.html'"></div>
