<div id="detailsDialog" class="reveal-modal small" role="dialog">
  <div class="row">
    <h3>Details</h3>
    <div class="panel">
      <span class="visuallyhidden">Notes:</span>
      <p>{{ details.notes }}</p>
    </div>
    <div>
      <i class="icon-clock"></i>
      <span class="visuallyhidden">Time interval:</span>
      {{ details.finished|timeInterval:details.duration|padSeconds|formatTime:hourFormat }}
      -
      {{ details.finished|padSeconds|formatTime:hourFormat }}
    </div>
  </div>
  <br>
  <div class="row">
    <a href="javascript:;" class="small button" data-ng-click="closeDetails()">Close</a>
  </div>
  <a class="close-reveal-modal" aria-label="close">&#215;</a>
</div>
