<div id="detailsDialog" class="reveal-modal small" role="dialog">
  <div class="row">
    <h3>Details</h3>
    <article class="panel">
      <span class="visuallyhidden">Notes:</span>
      <div data-ng-switch="details.notes">
        <span data-ng-switch-when="">No notes</span>
        <span data-ng-switch-default>{{ details.notes }}</span>
      </div>
    </article>
    <aside>
      <i class="icon-clock"></i>
      <span class="visuallyhidden">Time interval:</span>
      {{ details.finished|timeInterval:details.duration|padSeconds|formatTime:hourFormat }}
      -
      {{ details.finished|padSeconds|formatTime:hourFormat }}
    </aside>
  </div>
  <br>
  <div class="row">
    <a href="javascript:;" class="small button" data-ng-click="closeDetails()">Close</a>
  </div>
  <a class="close-reveal-modal" aria-label="close" href="javascript:;">&#215;</a>
</div>
