<section class="today">
  <div class="row">
    <div class="columns large-10 small-9">
      <h2>Today</h2>
    </div>

    <nav class="columns large-2 small-3 text-right">
      <a href="#/history">History</a>
    </nav>
  </div>

  <div class="row">
    <ul class="small-block-grid-2 large-block-grid-4 completed-pomodori">
      <li class="text-center" data-ng-repeat="pomodori in completed" tabindex="0" data-ng-click="showDetails()">
        <span class="pom" role="presentation"><i class="icon-ok"></i></span>
        <span class="finished">
          <span class="visuallyhidden">Time interval:</span>
          {{ pomodori.finished|timeInterval:pomodori.duration|padSeconds|formatTime:hourFormat }}
          -
          {{ pomodori.finished|padSeconds|formatTime:hourFormat }}
        </span>
        <span class="notes">
          <span class="visuallyhidden">Notes:</span>
          {{ pomodori.notes|truncate }}
        </span>
      </li>
    </ul>
  </div>
</section>

<div id="finishedDialog" class="reveal-modal small" role="dialog">
  <form>
    <div class="row">
      <div class="large-12 columns">
        <label for="finished">What did you get done?</label>
        <textarea id="finished" data-ng-model="notes" data-ng-maxlength="250"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <a href="javascript:;" class="small button" data-ng-click="closeDialog()">Save</a>
        or
        <a href="javascript:;" data-ng-click="skipEntry()">Skip</a>
      </div>
    </div>
  </form>
  <a class="close-reveal-modal" aria-label="close" href="javascript:;">&#215;</a>
</div>

<div data-ng-include="'partials/pomodoriDetails.html'"></div>
