<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tomatar</title>
    <link rel="stylesheet" href="css/vendor/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>

    <div class="row">
        <div class="large-11 columns">
            <h1>Tomatar</h1>
        </div>
        <div class="large-1 columns">
            <a href="javascript:;" data-reveal-id="settings">settings</a>
        </div>
    </div>
    <hr>

    <div class="row" aria-role="main" data-ng-controller="TimerController">
      <div class="small-6 large-centered columns text-center">
        <div class="timer" tabindex="0" title="Click or SPACE BAR to start" data-ng-click="toggleTimer()">
            <div class="progress-elapsed" aria-role="presentation" style="height: {{ progress }}%"></div>
            <div class="progress-indicator" aria-role="presentation"></div>
            <div class="time" data-ng-bind-template="{{ timeLeft.minutes }}:{{ timeLeft.seconds|padSeconds }}"></div>
        </div>
        <a href="javascript:;" data-ng-click="resetTimer()">reset</a>
      </div>
    </div>

    <div class="row" aria-role="navigation">
        <dl class="sub-nav">
            <dt><span class="visuallyhidden">Viewing:</span></dt>
            <dd><a href="#/today">Today</a></dd>
            <dd><a href="#/history">History</a></dd>
        </dl>
    </div>
    <hr>

    <div class="row" data-ng-view>
    </div>

  <div id="settings" class="reveal-modal small" role="dialog">
    <h3>Settings</h3>

    <form class="" data-ng-controller="SettingsController">
        <fieldset>
            <legend>Time Intervals</legend>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="pomodoro-length" class="inline">Pomodoro Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="pomodoro-length" type="number" required min="1" max="60" data-ng-model="breaks.pomodoro">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix"><ng-pluralize count="breaks.pomodoro" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="break-length" class="inline">Short Break Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="break-length" type="number" required min="1" max="60" data-ng-model="breaks.short">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix"><ng-pluralize count="breaks.short" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="longBreak-length" class="inline">Long Break Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="longBreak-length" type="number" required min="1" max="60" data-ng-model="breaks.long">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix"><ng-pluralize count="breaks.long" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Alarms</legend>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row">
                        <div class="small-6 large-5 columns">
                            <label class="" for="notif">Browser Notification</label>
                        </div>
                        <div class="small-6 large-6 columns">
                            <input id="notif" name="notif" type="checkbox"
                                data-ng-change="toggleNotification()"
                                data-ng-model="alarms.notification"
                                data-ng-disabled="!notificationsAreAvailable()">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row">
                        <div class="small-6 large-4 columns">
                            <label for="sound" class="">Sound effect:</label>
                        </div>
                        <div class="small-6 large-6 columns">
                            <select class="medium" id="sound"
                                data-ng-model="alarms.sounds.current"
                                data-ng-options="sound for sound in alarms.sounds.available"
                                data-ng-change="playSound()">
                              <option value="">None</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row">
            <a href="javascript:;" class="small button" data-ng-click="save()">Save</a>
        </div>
    </form>
    <a class="close-reveal-modal" aria-label="close">&#215;</a>
  </div>

  <div class="hidden" data-ng-controller="SoundController">
    <audio preload="auto" id="soundNotification" data-ng-bind-html-unsafe="source"></audio>
  </div>

  <script data-main="js/main" src="js/vendor/require.js"></script>
</body>
</html>
