<!DOCTYPE html>
<html class="no-js" lang="en" data-ng-app="tomatar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tomatar</title>
    <link rel="stylesheet" href="css/vendor/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>

    <div class="row">
        <div class="large-11 columns">
            <h1>Tomatar</h1>
        </div>
        <div class="large-1 columns">
            <a href="#/settings" data-reveal-id="settings">settings</a>
        </div>
        <hr>
    </div>

    <div class="row" aria-role="main" data-ng-controller="TimerController">
      <div class="small-6 large-centered columns text-center">
        <div class="timer" tabindex="0" title="Click or SPACE BAR to start" data-ng-click="toggleTimer()">
            <div class="progress-elapsed" aria-role="presentation" style="height: {{ progress }}%"></div>
            <div class="progress-indicator" aria-role="presentation"></div>
            <div class="time">{{ timeLeft.minutes }}:{{ timeLeft.seconds|padSeconds }}</div>
        </div>
        <a href="javascript:;" data-ng-click="resetTimer()">reset</a>
      </div>
    </div>

    <div class="row" aria-role="navigation">
        <dl class="sub-nav">
            <dt><span class="visuallyhidden">Viewing:</span></dt>
            <dd><a href="#/today">Today</a></dd>
            <dd><a href="#/history">History</a></dd>
        </dl>
    </div>

    <div class="row" data-ng-view>
    </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="js/vendor/foundation.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    $(document).foundation();
  </script>

  <div id="settings" class="reveal-modal small">
    <h3>Settings</h3>

    <form class="custom" data-ng-controller="SettingsController">
        <fieldset>
            <legend>Time Intervals</legend>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="pomodoro-length" class="inline">Pomodoro Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="pomodoro-length" type="number" min="1" max="60" value="{{ breaks.pomodoro.current }}">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix">minutes</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="break-length" class="inline">Short Break Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="break-length" type="number" min="1" max="60" value="{{ breaks.short.current }}">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix">minutes</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-8">
                    <div class="row collapse">
                        <div class="small-6 large-6 columns">
                            <label for="longBreak-length" class="inline">Long Break Length</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <input id="longBreak-length" type="number" min="1" max="60" value="{{ breaks.long.current }}">
                        </div>
                        <div class="small-3 large-3 columns">
                            <span class="postfix">minutes</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Alarms</legend>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row">
                        <div class="small-6 large-6 columns">
                            <label class="inline">Browser Notification</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <div class="switch small">
                              <input id="notif-off" name="notif" type="radio">
                              <label for="notif-off" onclick="">Off</label>

                              <input id="notif-on" name="notif" type="radio" checked>
                              <label for="notif-on" onclick="">On</label>

                              <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row">
                        <div class="small-6 large-6 columns">
                            <label class="inline">Buzzer</label>
                        </div>
                        <div class="small-3 large-3 columns">
                            <div class="switch small">
                              <input id="sound-off" name="sound" type="radio">
                              <label for="sound-off" onclick="">Off</label>

                              <input id="sound-on" name="sound" type="radio" checked>
                              <label for="sound-on" onclick="">On</label>

                              <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 large-8">
                    <div class="row">
                        <div class="small-6 large-6 columns">
                            <label for="sound" class="inline">Sound effect:</label>
                        </div>
                        <div class="small-3 large-6 columns">
                            <select class="medium" id="sound">
                                <option>Bell</option>
                                <option>Buzzer</option>
                                <option>Triumph</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <a class="close-reveal-modal">&#215;</a>
  </div>
</body>
</html>
