<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Tomatar</title>
    <link rel="stylesheet" href="css/vendor/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>

  <header class="row">
    <div class="large-9 small-8 columns">
        <h1>Tomatar</h1>
    </div>
    <div class="large-3 small-4 columns text-right">
        <a href="javascript:;" data-reveal-id="settings" class="settings">
          <i class="icon-cog"></i>Settings
        </a>
    </div>
    <hr>
  </header>

  <div class="row" aria-role="main" data-ng-controller="TimerController">
    <div class="small-centered large-centered columns text-center">
      <div class="timer" tabindex="0" title="Click or SPACE BAR to start" data-ng-click="toggleTimer()">
          <div class="progress-elapsed" aria-role="presentation" style="height: {{ progress }}%"></div>
          <div class="progress-indicator" aria-role="presentation"></div>
          <div class="time" data-ng-bind-template="{{ timeLeft.minutes }}:{{ timeLeft.seconds|padSeconds }}" aria-live="polite"></div>
      </div>
      <a href="javascript:;" data-ng-click="resetTimer()">reset</a>
    </div>

    <div class="large-offset-10 small-offset-8 current-mode" data-ng-cloak role="contentinfo" aria-live="polite">
      Currently:
      <em data-ng-bind-template="{{timeLeft.label}} Mode"></em>
    </div>
    <hr>
  </div>

  <div class="content" data-ng-view aria-live="polite"></div>

  <footer class="row">
    <hr>
    <div class="text-right large-offset-10 small-offset-8">Made by <a href="http://brettbukowski.com">Brett Bukowski</a></div>
  </footer>

  <div data-ng-controller="SettingsController" data-ng-include="'partials/settings.html'"></div>

  <div class="hidden" data-ng-controller="SoundController">
    <audio preload="auto" id="soundNotification" data-ng-bind-html-unsafe="source"></audio>
  </div>

  <script data-main="js/main" src="js/vendor/require.js"></script>
</body>
</html>
