/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    font-family: PTSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
}
h1, h2, h3, h4, h5, h6 {
    font-family: PTSansBold, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 1em;
}
header {
  padding-top: .4em;
}
footer > div {
    font-size: smaller;
    margin-bottom: 3em;
}
/* Foundation's -10 margin causes
   overflow scrollbar for small
   viewports. */
[class*="block-grid-"] {
  margin: 0;
}
.header-links {
  font-size: smaller;
  margin-top: 5px;

}
.settings {
  color: #818181;
  display: inline-block;
}
.settings:hover,
.settings:focus {
  color: #444;
}
.timer {
    cursor: pointer;
    height: 200px;
    margin: auto;
    outline: 0;
    overflow: hidden;
    padding: 4px;
    position: relative;
    width: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.timer .border {
  border: 1px solid #CCC;
  border-radius: 50%;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.timer.play:before,
.timer.pause:before {
  color: #444;
  font-family: fontello;
  opacity: 0;
  position: absolute;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: fadeOut;
  -moz-animation-duration: .6s;
  -moz-animation-fill-mode: both;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -ms-animation-name: fadeOut;
  -ms-animation-duration: .6s;
  -ms-animation-fill-mode: both;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: linear;
  animation-name: fadeOut;
  animation-duration: .6s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  top: 30%;
  left: 45%;
  z-index: 10;
}
.timer.play:before {
  content: attr(data-icon-play);
}
.timer.pause:before {
  content: attr(data-icon-pause);
}
.timer .progress-indicator {
    background: #FF4700;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.3) inset;
    bottom: 4px;
    left: 4px;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: -1;
}
.timer .progress-elapsed {
    background: #FFF;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.timer .time {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 2em;
    z-index: 1;
}
#settings i {
  font-size: small;
  margin-right: 3px;
}
#signIn {
  margin-top: 8px;
}
.reveal-modal form {
    margin: 0;
}
nav {
    margin-top: 1em;
}
.label {
    font-weight: bold;
}

.content {
    min-height: 300px;
}

.today h2 {
    margin-bottom: 1em;
}
.today img {
  margin-top: 2em;
  opacity: .1;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .today img {
    background: url(../img/graphic@2x.png) no-repeat;
  }
}
.completed-pomodori > li {
    cursor: pointer;
    margin-top: 1em;
    padding: 1em;
    word-wrap: break-word;
}
.completed-pomodori > li:focus,
.completed-pomodori > li:hover {
    background: #ebf2fc;
}
.completed-pomodori > li .pom {
    border-radius: 50%;
    height: 60px;
    margin: 0 auto .4em;
    position: relative;
    width: 60px;
}
.completed-pomodori > li:focus .pom:after,
.completed-pomodori > li:hover .pom:after {
    background: #CF1E1E;
    box-shadow: 0 0 0 3px #CF1E1E;
    border: 4px solid #ebf2fc;
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    -ms-transform: scale(.85);
    transform: scale(.85);
    z-index: 1;
}
.completed-pomodori > li .pom:after {
    background: rgba(207, 30, 30, .57);
    border-radius: 50%;
    color: #132E13;
    content: '\e805'; /* OK icon */
    font-family: fontello;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.completed-pomodori > li,
.completed-pomodori > li .pom:after {
    -webkit-transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.completed-pomodori > li span {
    display: block;
}
.completed-pomodori > li .notes {
    color: #858181;
    font-size: smaller;
}
.history h3 {
    background: rgba(255, 255, 255, .6);
    color: #3F3E3E;
    font-size: 1.5em;
}
.current-mode {
    font-size: small;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.larger {
  font-size: larger;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/PTS55F-webfont.eot');
    src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS55F-webfont.woff') format('woff'),
         url('../fonts/PTS55F-webfont.ttf') format('truetype'),
         url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/PTS75F-webfont.eot');
    src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTS75F-webfont.woff') format('woff'),
         url('../fonts/PTS75F-webfont.ttf') format('truetype'),
         url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FONTELLO */

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?8799406');
  src: url('../fonts/fontello.eot?8799406#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?8799406') format('woff'),
       url('../fonts/fontello.ttf?8799406') format('truetype'),
       url('../fonts/fontello.svg?8799406#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8799406#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}



.icon-google:before { content: '\e811'; } /* '' */
.icon-twitter:before { content: '\e810'; } /* '' */
.icon-github-circled:before { content: '\e80f'; } /* '' */
.icon-website:before { content: '\e80e'; } /* '' */
.icon-clock-circled:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-cancel-circled2:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e809'; } /* '' */
.icon-ok-circled:before { content: '\e804'; } /* '' */
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-bell:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */

/** Animation **/

@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
        font-size: 1em;
        -webkit-transform: translateY(0);
    }

    50% {
      opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 6em;
        left: 40%;
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 0;
        font-size: 1em;
        -moz-transform: translateY(0);
    }

    50% {
      opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 6em;
        left: 40%;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 0;
        font-size: 1em;
        -ms-transform: translateY(0);
    }

    50% {
      opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 6em;
        left: 40%;
        -ms-transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        font-size: 1em;
        transform: translateY(0);
    }

    50% {
      opacity: 1;
    }

    100% {
        opacity: 0;
        font-size: 6em;
        left: 40%;
        transform: translateY(0);
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
