@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTS75F-webfont.eot');
  src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F-webfont.woff') format('woff'), url('../fonts/PTS75F-webfont.ttf') format('truetype'), url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?7242640');
  src: url('../fonts/fontello.eot?7242640#iefix') format('embedded-opentype'), url('../fonts/fontello.woff?7242640') format('woff'), url('../fonts/fontello.ttf?7242640') format('truetype'), url('../fonts/fontello.svg?7242640#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
