<section class="history">
  <div class="row">
    <div class="columns large-10 small-9">
      <h2>History</h2>
    </div>

    <nav class="columns large-2 small-3 text-right">
      <a href="#/today">Today</a>
    </nav>
  </div>

  <div data-ng-repeat="monthInterval in entries" class="row month-view" data-ng-hide="dayDetail.date" data-ng-animate="{show: 'showing', hide:'hiding'}">
    <div class="large-12 small-12 columns">
      <h3 class="sticky">{{ monthInterval.month|formatMonthAndYear }}</h3>
    </div>
    <ul class="small-block-grid-2 large-block-grid-8 calendar">
      <li data-ng-repeat="day in monthInterval.days">
        <span class="date" tabindex="0" data-ng-click="showDayDetail()">
          <span class="day">{{ day.dayOfMonth }}</span>
          <span class="finished" title="{{ day.finished.length }} pomodoro completed">{{ day.finished.length }}</span>
        </span>
      </li>
    </ul>
  </div>

  <div data-ng-show="dayDetail.date" data-ng-animate="{show: 'showing', hide:'hiding'}" class="row">
    <div class="large-4 small-6 columns">
      <h4>{{ dayDetail.date|formatDate }}</h4>
    </div>

    <ul class="small-block-grid-2 large-block-grid-4 completed-pomodori">
      <li class="text-center" data-ng-repeat="pomodori in dayDetail.details" tabindex="0" data-ng-click="showDetails()">
        <span class="pom" role="presentation"></span>
        <span class="finished">
          <span class="visuallyhidden">Time interval:</span>
          {{ pomodori.time|timeInterval:pomodori.duration|padSeconds|formatTime:hourFormat }}
          -
          {{ pomodori.time|padSeconds|formatTime:hourFormat }}
        </span>
        <span class="notes">
          <span class="visuallyhidden">Notes:</span>
          {{ pomodori.notes|truncate }}
        </span>
      </li>
    </ul>

    <div class="large-12 small-12 columns">
      <a href="#" data-ng-click="hideDayDetail($event)">← {{ dayDetail.date|formatMonthAndYear }}</a>
    </div>
  </div>
</section>

<div data-ng-include="'partials/pomodoriDetails.html'"></div>
