<div id="settings" data-reveal class="reveal-modal small" role="dialog" data-ng-controller="SettingsController">
  <h3>Settings</h3>

  <form>
    <fieldset>
      <legend><i class="icon-clock" role="presentation"></i>Time Intervals</legend>

      <div class="row">
        <div class="small-12 large-8">
          <div class="row collapse">
            <div class="small-7 large-6 columns">
              <label for="pomodoro-length" class="inline">Pomodoro Length</label>
            </div>
            <div class="small-2 large-3 columns">
              <input id="pomodoro-length" type="number" required min="1" max="60" data-ng-model="breaks.pomodoro">
            </div>
            <div class="small-3 large-3 columns">
              <span class="postfix"><ng-pluralize count="breaks.pomodoro" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-8">
          <div class="row collapse">
            <div class="small-7 large-6 columns">
              <label for="break-length" class="inline">Short Break Length</label>
            </div>
            <div class="small-2 large-3 columns">
              <input id="break-length" type="number" required min="1" max="60" data-ng-model="breaks.short">
            </div>
            <div class="small-3 large-3 columns">
              <span class="postfix"><ng-pluralize count="breaks.short" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 large-8">
          <div class="row collapse">
            <div class="small-7 large-6 columns">
                <label for="longBreak-length" class="inline">Long Break Length</label>
            </div>
            <div class="small-2 large-3 columns">
                <input id="longBreak-length" type="number" required min="1" max="60" data-ng-model="breaks.long">
            </div>
            <div class="small-3 large-3 columns">
                <span class="postfix"><ng-pluralize count="breaks.long" when="{'one': 'minute', 'other': 'minutes'}"></ng-pluralize></span>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><i class="icon-bell" role="presentation"></i>Alarms</legend>

      <div class="row">
        <div class="small-12 large-8">
          <div class="row">
            <div class="small-7 large-5 columns">
              <label class="" for="notif">Browser Notification</label>
            </div>
            <div class="small-5 large-6 columns">
              <input id="notif" name="notif" type="checkbox"
                  data-ng-change="toggleNotification()"
                  data-ng-model="alarms.notification"
                  data-ng-disabled="!notificationsAreAvailable()">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 large-8">
          <div class="row">
            <div class="small-6 large-4 columns">
              <label for="sound" class="">Sound Effect</label>
            </div>
            <div class="small-6 large-6 columns">
              <select class="medium" id="sound"
                  data-ng-model="alarms.sounds.current"
                  data-ng-options="sound for sound in alarms.sounds.available"
                  data-ng-change="playSound()">
                <option value="">None</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><i class="icon-website" role="presentation"></i>Interface</legend>

      <div class="row">
        <div class="small-12 large-8">
          <div class="row">
            <div class="small-4 large-4 columns">
              <label for="hours">Hour Format</label>
            </div>
            <div class="small-6 large-6 columns">
              <select class="medium" id="hours"
                data-ng-model="ui.hours"
                data-ng-options="hour.value as hour.label for hour in [{label: '12 hour', value: 12}, {label: '24 hour', value: 24}]">
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset data-ng-show="signedIn">
      <legend><i class="icon-crown" role="presentation"></i>Account</legend>

      <div class="row">
        <div class="small-12 large-12">
          <div class="row">
            <div class="small-7 large-4 columns">
              <span class="label">Download your data</span>
            </div>
            <div class="small-5 large-5 columns download-data">
                <a data-ng-click="download('csv')" href="javascript:;">csv</a> |
                <a data-ng-click="download('json')" href="javascript:;">json</a>
            </div>
            <div class="columns small-12 large-3">
              <a href="javascript:;" data-reveal-id="deleteAccountDialog" class="tiny button delete-account" role="button">Delete account</a>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="row">
      <button type="submit" class="button" data-ng-click="save($event)">Save</button>
    </div>
  </form>
  <a role="button" class="close-reveal-modal" aria-label="close" href="javascript:;">&#215;</a>
</div>

<div id="deleteAccountDialog" role="presentation" class="reveal-modal small">
  <h4>Delete your account</h4>
  <p>You sure?</p>
  <div class="row">
    <a href="javascript:;" data-ng-click="deleteAccount()" class="small alert button" role="button">Yes, delete my account</a>
    <a href="javascript:;" role="button" data-ng-click="reshowSettingsDialog()" class="cancel">Nah, just kidding</a>
  </div>
  <a class="close-reveal-modal" data-ng-click="reshowSettingsDialog($event)" aria-label="close" href="javascript:;">&#215;</a>
</div>
