<div id="signIn" class="f-dropdown content large" data-dropdown-content role="dialog">
  <div class="row">
    <strong class="larger" role="heading">Sign in with one of your existing accounts</strong>
  </div>
  <hr>
  <div class="row">
    <p>Creating a free account allows you to sync your sessions across multiple devices. (Otherwise, your sessions will continue to be saved on this single web browser.)</p>
  </div>
  <div class="row">
    <div class="small-centered large-centered text-center columns">
      <a data-ng-repeat="service in services" class="button {{ service.name | lowercase }}" href="javascript:;" data-ng-click="signInWithStrategy()" role="button">
        <i class="icon-{{ service.name | lowercase }}" role="presentation"></i>
        {{ service.name }}
      </a>

      <hr>

      <div class="tos">
        <a href="javascript:;" data-ng-click="toggleTOS()" role="button">Terms of Service
          <i data-ng-show="!tosExpanded" class="icon-down-open animate-show">
            <span class="visuallyhidden">(show)</span>
          </i>
          <i data-ng-show="tosExpanded" class="icon-up-open animate-show">
            <span class="visuallyhidden">(hide)</span>
          </i>
        </a>

        <div data-ng-show="tosExpanded" class="animate-show">
          <br>
          <p>Your data is yours. Your personal info is yours. This website does not share or sell your information.</p>
          <p>Facebook, Google, and Github do not transmit private data like passwords; information beyond what is needed for user authentication is not collected and stored.</p>
          <p>You can download your data and delete your account at any time.</p>
          <i class="icon-heart-empty"></i>
          <i class="icon-heart-empty"></i>
          <i class="icon-heart-empty"></i>
        </div>
      </div>
    </div>
  </div>
</div>
