<div id="signIn" class="f-dropdown content large" data-dropdown-content role="dialog">
  <div class="row">
    <strong class="larger" role="heading">Sign in with one of your existing accounts</strong>
  </div>
  <hr>
  <div class="row">
    <p>Creating a free account allows you to sync your sessions across multiple devices. (Otherwise, your sessions will continue to be saved on this single web browser.)</p>
  </div>
  <div class="row">
    <div class="small-centered large-centered text-center columns">
      <a data-ng-repeat="service in services" class="button" href="#" data-ng-click="signInWithStrategy()">
        <i class="icon-{{ service.name | lowercase }}"></i>
        {{ service.name }}
      </a>
    </div>
  </div>
</div>
